body {
    background-color: rgb(24, 22, 22);
    margin: 0;
    padding: 0;
}

span {
    white-space: pre
}

.shp0 {
    fill: #0a0a0a
}

#tasks-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-svg svg {
    stroke-width: 2px;
    stroke: yellow;
    align-items: center;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    animation: svganimation 4s ease-in-out forwards infinite;
    -webkit-animation: svganimation 4s ease-in-out forwards infinite;
}

@keyframes svganimation {
    0% {
        stroke-dashoffset: 1000;
    }
    60% {
        stroke-dashoffset: 0%;
    }
    100% {
        stroke-dashoffset: 0%;
    }
}
